@using nwBlog.WebApp.ViewModels.Home
@model BlogPostViewModel

@{
    ViewBag.Title = "BlogPost";
}

<div id="zoomButton">
    <button type="button" class="btn btn-outline-primary btn-sm kucult yukari_boyut "><span class="fa fa-minus"></span></button>
    <button type="button" class="btn btn-outline-secondary btn-sm sifirla yukari_boyut "><span class="fa fa-refresh"></span></button>
    <button type="button" class="btn btn-outline-success btn-sm buyult yukari_boyut "><span class="fa fa-plus"></span></button>
</div>
<div class="row">
    <!-- Post Content Column -->
    <div class="col-md-8 pt-4 text">
        <!-- Title -->
        <h1 class="mt-4">@Model.Blog.Tittle</h1>

        <hr>
        <!-- Date/Time -->
        <div class="row" style="margin-bottom:-20px;">
            <div class="col-md-6">
                <p>
                    @Model.Blog.CreatedOn.ToString("d MMMM dddd yyyy hh:mm")
                </p>
            </div>
            <div class="col-md-6 text-right">
                <p>
                    <i>Kategori:</i>
                    @foreach (var item in Model.Blog.BlogCategories)
                    {
                        <span class="badge badge-primary">@item.Category.Name</span>
                    }
                </p>
            </div>
        </div>


        <hr>
        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
        <hr>
        <!-- Post Content -->
        <p class="lead text">@Model.Blog.Summary</p>
        <hr />
        @Html.Raw(Model.Blog.Text)
        <p class="text-right"><i>Yazar: </i><a href="@Url.Action("UserDetails","Home",new {@User=Model.Blog.AppUser.Username })">@Model.Blog.AppUser.Username</a> </p>

        <hr />
        <div class="row">
            <div class="col-md-10">
                <i>Etiketler:</i>
                @foreach (var item in Model.Blog.Tags)
                {
                    <span class="badge badge-danger">@item.Name</span>
                }
            </div>
            <div class="col-md-2 text-right">
                <span class="btn btn-success btn-sm" title="Beğeni">@Model.LikeCount <span class="fa fa-heart"></span></span>
            </div>
        </div>
        <hr />
        <!-- Comments -->
        <h3>Yorumlar</h3><br />
        @foreach (var item in Model.Comments)
        {
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">@item.AppUser.Username</h5>
                    <h6 class="mt-0">@item.CreatedOn.ToString("d MMMM dddd yyyy hh:mm")</h6>
                    @item.Text
                </div>
            </div>
        }
    </div>



    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        @*Search*@
        @{Html.RenderAction("PartialSearch", "Home");}

        @*Categories*@
        @{Html.RenderAction("CategoryList", "Home");}


    </div>
</div>
<!-- /.row -->

@section footer{
    @Html.Partial("_PartialFooter")
}
