@using nwBlog.WebApp.Areas.Admin.ViewModels.SystemTool
@model RemoveUserListViewModel

@{
    ViewBag.Title = "RemoveUserList";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tüm Kullanıcılar</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dtUsers" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Kullanıcı Adı</th>
                                <th>Ad - Soyad</th>
                                <th>Kayıt Tarihi</th>          
                                <th>Roller</th>
                                <th class="text-center">Durum</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>@item.Username</td>
                                    <td>@(item.Name + " " + item.Surname)</td>
                                    <td>@item.CreatedOn</td>           
                                    <td>
                                        @foreach (var item2 in item.UserRoles)
                                        {
                                        <span class="badge badge-info">@item2.AppRole.Name</span> 
                                        }
                                    </td>
                                    @if (item.IsDeleted)
                                    {
                                        <td class="text-warning text-center"><span class="fa fa-times-circle"></span> Silinmiş</td>
                                    }
                                    else
                                    {
                                        <td class="text-primary text-center"><span class="fa fa-check-circle"></span> Mevcut</td>
                                    }
                                    <td>                                                                          
                                        <a href="@Url.Action("RemoveUser","SystemTool",new { id=item.Id })" class="btn btn-danger btn-circle btn-sm" title="Sil">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section dataTable
{
    <script>
        $(document).ready(function () {
            $('#dtUsers').DataTable({
                "language":
                {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                }
            });
        });

    </script>
}