@using nwBlog.Entities
@model SentMail

@{
    ViewBag.Title = "SentMailDetails";
}


<div class="row">
    <div class="col-lg-3">
        <div class="card shadow mb-4">
            <div class="card-body">
                @Html.Partial("_PartialParentMailPage")
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="form-row">

                    <div class="from-group col-md-4">
                        <label for="Email">Eposta</label>
                        @Html.TextBoxFor(model => model.ToEmail, new { @class = "form-control", @id = "Email", @readonly = "" })
                    </div>
                                  
                    <div class="from-group col-md-4">
                        <label for="User">Gönderen</label>
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @id = "user", @readonly = "" })
                    </div>

                    <div class="from-group col-md-4">
                        <label for="Date">Tarih</label>
                        <input type="text" class="form-control" readonly value="@(Model.DateTime.ToString("dd MMMM yyyy dddd HH:mm"))" />
                    </div>
                </div>
                <br />

                <div class="form-row">
                    <div class="from-group col-md-12">
                        <label for="Subject">Konu</label>
                        @Html.TextAreaFor(model => model.Subject, new { @class = "form-control", @id = "Subject", @readonly = "", @rows = "2" })
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="from-group col-md-12">
                        <label for="Subject">İçerik</label>
                        @Html.TextAreaFor(model => model.Text, new { @class = "form-control", @id = "Subject", @readonly = "", @rows = "5" })
                    </div>
                </div>
                <br />
                <div class="form-row">

                    <div class="from-group offset-9 col-md-3 text-right">
                        <a href="@Url.Action("DeleteSentMail","Contact",new {@id=Model.Id })" class="btn btn-danger">Sil</a>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
