@using nwBlog.WebApp.Areas.Admin.ViewModels.AuthorUser
@model IndexViewModel

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Yazar Listesi</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dtAuthorUsers" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Kullanıcı Adı</th>
                                <th>Ad - Soyad</th>
                                <th>Blog Sayısı</th>
                                <th>Kayıt Tarihi</th>
                                <th class="text-center">Aktif</th>
                                <th class="text-center">Durum</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>@item.Username</td>
                                    <td>@(item.Name + " " + item.Surname)</td>
                                    <td>@item.Blogs.Count()</td>
                                    <td>@item.CreatedOn</td>
                                    @if (item.IsActive)
                                    {
                                        <td class="text-success text-center"><span class="fa fa-check"></span></td>
                                    }
                                    else
                                    {
                                        <td class="text-danger text-center"><span class="fa fa-times"></span></td>
                                    }
                                    @if (item.IsDeleted)
                                    {
                                        <td class="text-warning text-center"><span class="fa fa-times-circle"></span> Silinmiş</td>
                                    }
                                    else
                                    {
                                        <td class="text-primary text-center"><span class="fa fa-check-circle"></span> Mevcut</td>
                                    }
                                    <td>
                                        <a href="@Url.Action("Details","AuthorUser",new { id=item.Id })" class="btn btn-success btn-circle btn-sm" title="Detaylar">
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                        <a href="@Url.Action("Edit","AuthorUser",new { id=item.Id })" class="btn btn-warning btn-circle btn-sm" title="Düzenle">
                                            <i class="fas fa-user-edit"></i>
                                        </a>
                                        <a href="@Url.Action("Delete","AuthorUser",new { id=item.Id })" class="btn btn-danger btn-circle btn-sm" title="Sil">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section dataTable
{
    <script>
        $(document).ready(function () {
            $('#dtAuthorUsers').DataTable({
                "language":
                {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                }
            });
        });

    </script>
}