@using nwBlog.WebApp.Areas.User.ViewModels.Home
@model UserDetailsViewModel


@{
    ViewBag.Title = "UserDetails";
}


<div class="row pt-4 pb-5">

    <div class="col-lg-12">

        <h2>Kullanıcı Hakkında</h2>

        <img class="img-fluid rounded pr-3 pb-3 float-left" src="http://placehold.it/400x250" alt="">
        <p><b>Kullanıcı Adı: </b>@Model.Username </p>
        <p><b>Ad-Soyad: </b>@(Model.Name + " " + Model.Surname)</p>
        <p>
            <b>Hakkında: </b>
            @Model.About
        </p>

    </div>

    <div class="col-lg-12">
        <h2>Bloglar</h2>
        @if (Model.Blogs.Count() == 0)
        {
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-info-sign"></span>
                <strong>Kullanıcıya ait blog bulunamadı.</strong>
            </div>
        }
        else
        {
            <ul class="list-group list-group-flush">
                @foreach (var item in Model.Blogs)
                {
                    <li class="list-group-item"><a href="@Url.Action("BlogPost","Home",new {@Blog=item.Id })">@item.Tittle</a></li>
                }
            </ul>
        }
    </div>

</div>
